
.main, .editor, .column, .preview, .log {
    width: calc(100vw - 4px);
    height: calc(100vh - 4px);
    border: 1px solid gray;
}

.top-left {
    position: relative;
}

.controls {
    position: absolute;
    gap: 8px;
    width: 100%;
    padding: 8px;
    bottom: 0;
    background-color: white;
    border: 1px solid gray;
}

.progress {
    width: 150px;
    margin: 4px;
}

.ltk-button {
    min-width: 0;
}

.step-label {
    min-width: 20px;
}

.editor_line {
    background-color: rgb(207, 214, 217)
}

.choice-button {
    margin-right: 8px;
}