
.main, .editor, .column, .preview, .log {
    width: calc(100vw - 4px);
    height: calc(100vh - 4px);
    border: 1px solid gray;
}

.controls {
    gap: 8px;
    padding: 8px;
}

.progress {
    width: 150px;
    margin: 4px;
}

.ltk-button {
    min-width: 0;
}

.editor_line {
    background-color: rgb(207, 214, 217)
}